* {
    font-family: "Mate", serif;
    font-weight: 0;
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E261A;
}

/* Header styles */
header {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

/* Logo image styles */
.logo {
    flex-basis: 20%
}

.logo img{ 
    width: 200px;
}

nav {
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.nav-left ul {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-left ul li {
    margin-left: 30px; /* Space between menu items */
}

.nav-left ul li a {
    text-decoration: none; /* Only apply to links */
    color: #CDCDB4; /* Ensure text color contrasts with background */
    font-weight: 100;
}

/* Navigation right styles */
.nav-right {
    margin-left: auto; /* Pushes .nav-right to the right */
}

.nav-right ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-right ul li {
    margin-left: 20px; /* Space between icons */
}

.nav-right ul li a {
    display: block; /* Ensure icons are block elements */
    text-decoration: none;
    color: #CDCDB4; /* Text color */
}

.nav-right ul li a img {
    width: 24px; /* Adjust icon size */
    height: auto;
}