* {
    font-family: "Mate", serif;
    font-weight: 0;
    font-style: normal;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E261A;
}

/* Header styles */
header {
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.logo {
    flex-basis: 20%;
}

.logo img { 
    padding-left: 30px;
    width: 200px;
}

nav {
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}

.nav-left ul {
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-left ul li {
    margin-left: 30px; /* Space between menu items */
}

.nav-left ul li a {
    text-decoration: none; /* Only apply to links */
    color: #CDCDB4; /* Ensure text color contrasts with background */
    font-weight: 100;
}

/* Navigation right styles */
.nav-right {
    margin-left: auto; /* Pushes .nav-right to the right */
}

.nav-right ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-right ul li {
    margin-left: 20px; /* Space between icons */
}

.nav-right ul li a {
    display: block; /* Ensure icons are block elements */
    text-decoration: none;
    color: #CDCDB4; /* Text color */
}

.nav-right ul li a img {
    width: 24px; /* Adjust icon size */
    height: auto;
}

.shop-now {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; /* Adjust height as needed */
    margin-top: 80px; /* Space from top */
    margin-left: 80px;
}

.content {
    text-align: center; /* Center text */
    padding-right: 40px; /* Space between text and image */
    flex: 1; /* Take remaining space */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
}

.topic {
    font-family: "Elsie", serif;
    font-weight: 400;
    font-style: normal;
    color: #F0DDAA;
    font-size: 64px;
    max-width: 500px; /* Set a maximum width for the topic */
    text-align: left; /* Align text to the left */
}

.shop-now p {
    margin-top: 20px; /* Adjust spacing between topic and paragraph */
    max-width: 500px; /* Set a maximum width for the paragraph */
    text-align: left; /* Align text to the left */
    color: #E6E6E6;
}

.imageIntro {
    width: 650px; /* Adjust image width */
    height: 644px; /* Adjust image height */
    object-fit: cover; /* Maintain aspect ratio */
    border-radius: 50%; /* Make it circular */
    margin-right: 85px; /* Space between image and text */
    flex: 1; /* Ensure it takes up the available space */
}
